@page
@model vwmsweb.Pages.SurveyModel

@{
    ViewData["Title"] = "Surveys";
}

<div class="d-flex my-auto bd-highlight mb-3">
    <div class="p-2 bd-highlight">
        <h1>Surveys</h1>
    </div>
    @if (@HttpContext.Session.GetInt32("IsManager") == 1)
    {
        <div class="ms-auto p-2 bd-highlight my-auto align-middle">
            <a class="btn btn-blur" asp-page="SurveyCreate"><i class="fa-solid fa-plus fa-xl align-middle pb-2"></i>&nbsp;Create</a>
        </div>
    }
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Survey[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Survey[0].StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Survey[0].EndDate)
        </th>
        @if (@HttpContext.Session.GetInt32("IsManager") == 1)
        {
            <th>
                @Html.DisplayNameFor(model => model.Survey[0].IsEnabled)
            </th>
        }
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Survey)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.StartDate.ToLongDateString()
            </td>
            <td>
                @item.EndDate.ToLongDateString()
            </td>
            @if (@HttpContext.Session.GetInt32("IsManager") == 1)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnabled)
                </td>
            }
            @if (@HttpContext.Session.GetInt32("IsManager") == 1)
            {
                <td>
                    <a class="btn btn-blur" asp-page="SurveyVote">View Results</a>
                </td>
            }
            else
            {
                <td>
                    <a class="btn btn-blur" asp-page="SurveyVote">Vote</a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>