@page
@model vwmsweb.Pages.WorkshopModel

@{
    ViewData["Title"] = "Workshops";
}

<div class="d-flex my-auto bd-highlight mb-3">
    <div class="p-2 bd-highlight"><h1>Workshop Requests</h1></div>
        @if (@HttpContext.Session.GetInt32("IsManager") == 0)
        {
            <div class="ms-auto p-2 bd-highlight my-auto align-middle">
                <a class="btn btn-blur" asp-page="WorkshopCreate"><i class="fa-solid fa-plus fa-xl align-middle pb-2"></i>&nbsp;Create</a>
            </div>
        }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Category)
            </th>
            @if (HttpContext.Session.GetInt32("IsManager") == 1)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Workshop[0].Exhibitor)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Saloon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Workshop) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.Date.ToLongDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            @if (HttpContext.Session.GetInt32("IsManager") == 1)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Exhibitor.FullName)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Saloon.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.StartTime) - @Html.DisplayFor(modelItem => item.Time.EndTime)
            </td>
            <td>
                @if (HttpContext.Session.GetInt32("IsManager") == 1)
                {
                    <a class="btn btn-blur" asp-page="Workshop">Accept</a>
                    <a class="btn btn-blur" asp-page="Workshop">Reject</a>
                }
                else
                {
                    @if (item.Status.Name == "Pending" && HttpContext.Session.GetInt32("UserId") == @item.ExhibitorId)
                    {
                        <a class="btn btn-blur" asp-page="WorkshopEdit">Edit</a>
                        <a class="btn btn-blur" asp-page="WorkshopDelete">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
