@page
@model vwmsweb.Pages.WorkshopModel

@{
    ViewData["Title"] = "Workshop";
}

<h1>Workshop</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].HasWarned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Exhibitor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Saloon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop[0].Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Workshop) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasWarned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exhibitor.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saloon.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
