@using vwmsweb.Utils
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/fontawesome.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/brand.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/vwmsweb.styles.css" asp-append-version="true"/>
</head>
<body>
<div class="background-image"></div>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-blur border-bottom box-shadow mb-3 rounded-reset">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">VWMS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (Context.Session.GetInt32("UserId") != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Survey">Surveys</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Workshop">Workshops</a>
                        </li>
                        <div class="ms-auto">
                            <li class="nav-item dropdown" style="z-index: 1000;">
                                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                                    Welcome, <strong>@Context.Session.GetString("FullName")</strong>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item text-reset" href="#" data-bs-toggle="modal" data-bs-target="#account-settings-modal">My Account</a>
                                        <a class="dropdown-item" asp-page="/Logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </div>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade bg-blur" id="account-settings-modal">
        <div class="modal-dialog">
            <div class="modal-content bg-blur-light">
                <div class="modal-header">
                    <h5 class="modal-title">Account Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    @{
                        var user = SessionUtil.GetUser(Context);
                        if (user != null)
                        {
                            <text>
                                <div class="mb-3">
                                    <label for="username-setting" class="form-label">Username</label>
                                    <input type="text" id="username-setting" class="form-control" value="@user.Username" readonly/>
                                </div>
                                <div class="mb-3">
                                    <label for="username-setting" class="form-label">Account Type</label>
                                    @if (user.IsManager)
                                    {
                                        <input type="text" id="username-setting" class="form-control" value="Manager" readonly/>
                                    }
                                    else
                                    {
                                        <input type="text" id="username-setting" class="form-control" value="Exhibitor" readonly/>
                                    }
                                </div>
                                <div class="mb-3">
                                    <label for="username-setting" class="form-label">Full Name</label>
                                    <input type="text" id="username-setting" class="form-control" value="@user.FullName" readonly/>
                                </div>
                                <div class="mb-3">
                                    <label for="username-setting" class="form-label">Personal Identification</label>
                                    <input type="text" id="username-setting" class="form-control" value="@user.PersonalIdentifier" readonly/>
                                </div>
                                <div class="mb-3">
                                    <label for="username-setting" class="form-label">Telephone</label>
                                    <input type="text" id="username-setting" class="form-control" value="@user.Telephone" readonly/>
                                </div>
                            </text>
                        }
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-blur" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@* <footer class="border-top footer text-muted"> *@
@*     <div class="container"> *@
@*         &copy; 2022 - Ashlee Tan$1$ - <a asp-area="" asp-page="/Privacy">Privacy</a>#1# *@
@*     </div> *@
@* </footer> *@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>